body {
    background: #111;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

#jeu {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#papuche {
    width: 120px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

#coeur {
    font-size: 45px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

#score {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
}
